Variables 
Variables are fundamental elements in programming used to store data that can be refrenced and manipulated in program. In Python, variables are used  to assign a value to them, and they do not need explicit declearation to reserve the memory space. The declearation to reserve the memory space. The declaration happens automatically when you assign a value to a variable

In [ ]:
a=100

In [ ]:
## declearing and assigning variables
age = 23
height =5.6
name = "Anish"
is_student = True

print("age :", age)
print("Height:", height)
print("Name: ", name)

age : 23
Height: 5.6
Name:  Anish

In [3]:
## Naming Conventions
## variables should be discriptive
## They must start with letter or an '_' and contain letter , number ad undercores
## Variables names case sensitive anvi

first_name ="Anvi"
last_name = "Srivastava"

print(first_name, last_name)

Anvi Srivastava

In [10]:
## unserstanding variables types
## Python is dynamically types, type of variavles is determined at runtime
age = 12
height= 5.3
section = 'A'
Name = "Pari"
detail ="She is a student of class 6th in Angels Learning Garden"
print(type(age))
print(type(height))
print(type(Name))
print(type(detail))
print(type(section))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
## Type checking and conversions
type(height)

float

In [13]:
age= '12'
print(type(int(age)))

<class 'int'>

In [14]:

name  = "Anish"
int(name)

ValueError: invalid literal for int() with base 10: 'Anish'

In [ ]:
height=6.91
type(height)

float

In [17]:
float(int(height))

6.0

In [20]:
##Dynamic Typing
##Python allows the type of the variables to change as the program attributes
var=10
print(var,type(var))

var = "hello"
print(var, type(var))

var=3.1
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
3.1 <class 'float'>

In [24]:
##  imput

age = int(input("What is the age "))
print(age, type(age))

23 <class 'int'>

In [25]:
##simple calculator
num1 = float(input("Enter the first number :"))
num2 = float(input("Enter the second number :"))

sum = num1+num2
diff = num1 - num2

product= num1*num2

quptient = num1/num2

print("sum :", sum)
print("difference :", diff)
print("Product :", product)
print("quotient:", quptient)

sum : 30.0
difference : -10.0
Product : 200.0
quotient: 0.5

DataType
-> Data types are the collection of data that tells compiler or interpreter how the programmer intends to use the data
-> They determine the type of opertaions that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

. Importance of Data Type in programming

In [26]:
## integers example
age = 35
type(age)

int

In [27]:
## floating point datatypes
height = 5.11
print(height)
type(height)

5.11

float

In [28]:
## String datatype
name= "Pallavi"
print(name)
print(type(name))

Pallavi
<class 'str'>

In [29]:
## booleaan datatype
isTrue= True
print(isTrue)
type(isTrue)

True

bool

In [32]:
a =10
b = 10
type(a==b)

bool

In [33]:
## common errors
result = "hello" + 5

TypeError: can only concatenate str (not "int") to str

In [34]:
result = "hello" + str(5)
print(result)

hello5