### Introduction to dictonaries
    Dictonaries are the unordered collection of items. They store data in  key value pairs. Key must be unique and immutable(e.g. strings, numbers and tuples) while the data can be of anytype

In [18]:
## creating dictonariwa
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [19]:
empty_dict= dict()
empty_dict

{}

In [20]:
student = {"name":"Anish" , "age":22 , "grade":22}
print(student)

print(type(student))

{'name': 'Anish', 'age': 22, 'grade': 22}
<class 'dict'>

In [21]:
## Single key is always used insted of multiple keys


student = {"name":"Anish" , "age":22 , "name":22}
print(student)

{'name': 22, 'age': 22}

In [22]:

## Accessing dictonaries elenent

student = {"name":"Anish" , "age":22 , "grade":'A'}

print(student['grade'])

print(student['age'])

print(student["name"])

## Accessing usig get() method provided by the dictonaries


print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name', "is not available"))

A
22
Anish
A
None
is not available

In [23]:
## Modifying dictonaries  ekement
## Dictonary are mutuable, so you can add, update and delete elements

print(student)

{'name': 'Anish', 'age': 22, 'grade': 'A'}

In [24]:
student["age"]=23  ## update value for  the key
print(student)
student["address"] = "India"  ## added a new key and value
print(student)

{'name': 'Anish', 'age': 23, 'grade': 'A'}
{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India'}

In [25]:
print(student)
student["City"] = "Maunath Bhanjan" ## added a new key and value
print(student)

{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India', 'City': 'Maunath Bhanjan'}

In [26]:
    ## delete the  key

del student['City']
print(student)

{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India'}

In [27]:
##Some common dictonaries methods

keys = student.keys() ## get all the keys
print(keys) 
values = student.values() ## get all the values
print(values)

items= student.items() ## get all the key value pairs

print(items)

dict_keys(['name', 'age', 'grade', 'address'])
dict_values(['Anish', 23, 'A', 'India'])
dict_items([('name', 'Anish'), ('age', 23), ('grade', 'A'), ('address', 'India')])

In [28]:
##  Shallow copys
student_copy= student
print(student)
print(student_copy)

{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish', 'age': 23, 'grade': 'A', 'address': 'India'}

In [29]:

student["name"] ="Anish1"
print(student)
print(student_copy)

{'name': 'Anish1', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish1', 'age': 23, 'grade': 'A', 'address': 'India'}

In [30]:

student["name"] ="Anish2"
print(student)
print(student_copy)

{'name': 'Anish2', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish2', 'age': 23, 'grade': 'A', 'address': 'India'}

In [31]:
student_copy1= student.copy()  ## shaloww copy
print(student_copy1)
print(student)

{'name': 'Anish2', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish2', 'age': 23, 'grade': 'A', 'address': 'India'}

In [32]:
student["name" ] ="Anish3"
print(student_copy1)
print(student)

{'name': 'Anish2', 'age': 23, 'grade': 'A', 'address': 'India'}
{'name': 'Anish3', 'age': 23, 'grade': 'A', 'address': 'India'}

In [ ]:
## Iterating 0ver dictonaries
## You can use loops to iterate And we can iterate over dictonaries, keys, values or items

## iteratng over kry

for  keys in student.keys():
    print(keys)

name
age
grade
address

In [37]:
## Itearte over values
for  values in student.values():
    print(values)

Anish3
23
A
India

In [38]:
## Iterate over key values pairs
for items in student.items():
    print(items)

('name', 'Anish3')
('age', 23)
('grade', 'A')
('address', 'India')

In [40]:
for key,values in student.items():
    print(f"{key}:{values}")

name:Anish3
age:23
grade:A
address:India

In [43]:
## Nested Disctonaries
stdents={
    "student1":{"name":"Anish","age":32},
    "studen2":{"name":"Pallavi", "age":36}
}

print(stdents)

{'student1': {'name': 'Anish', 'age': 32}, 'studen2': {'name': 'Pallavi', 'age': 36}}

In [46]:
## Access nested disctonaries element

print(stdents["studen2"]["name"])
print(stdents["student1" ]["age"])

Pallavi
32

In [48]:
## Iterating over nested disctonariefor 

for student_id, student_info in stdents.items():
    print(f"{student_id}:{student_info}")

    for  key, value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Anish', 'age': 32}
name:Anish
age:32
studen2:{'name': 'Pallavi', 'age': 36}
name:Pallavi
age:36

In [49]:
## Dictionary Comphrension
squares = {x : x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
### conditional dictionaries comphrension

even = {x : x**2 for x in range(10) if x %2==0}

print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [52]:
## Pratical exxmaples

## Use a dictionary to count the freqncy  of element  in a list

numbers = [1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [53]:
## Merge two dictonaries into one

dict1={"a":1, "b":2}
dict2={"b":3, "c":4}

merged_dict ={**dict1, **dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}