## introduction to dicctonaries

Dictonaries are unordered collection of items. They store data in key value pairs. Keys must be unique and immutable, while the values can be of any type

In [2]:
## Creating 
### [empty list]   (truples)

empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
## complete empty dictonary
empty_dict= dict()
empty_dict

{}

In [5]:
 ##  key value pair

 student={"name":"anish","age":25, "contact":8932831991}
 print(student)
 print(type(student))

{'name': 'anish', 'age': 25, 'contact': 8932831991}
<class 'dict'>

In [ ]:
 student={"name":"anish","age":25, "name":8932831991}
 print(student)
 ## here single key is always used here the key is getting replaced but the value remains the same

{'name': 8932831991, 'age': 25}

In [ ]:
## accessing dictonaries element

student={"name":"Anish","age":25,"grade":'A'}
print(student)
print(student['grade'])
print(student["name"])

## accesing using get() method that is provided by the dictonaries

print(student.get('grade'))
print(student.get(  'lastname'))
print(student.get('lastnamr',"not abvailable")) ## previsdouly it gave the name none but here we provided the name not available

{'name': 'Anish', 'age': 25, 'grade': 'A'}
A
Anish
A
None
not abvailable

In [14]:
##  modifying dictonaries element
## dictonaries are mutuable so you can add, update and delete element 

print(student)

{'name': 'Anish', 'age': 25, 'grade': 'A'}

In [17]:
student["age"]=33 ## updated the value for key
print(student)
student["address"]="India" ## added the key and value
print(student)

{'name': 'Anish', 'age': 33, 'grade': 'A', 'address': 'India'}
{'name': 'Anish', 'age': 33, 'grade': 'A', 'address': 'India'}

In [19]:
del student['grade']
print(student)

{'name': 'Anish', 'age': 33, 'address': 'India'}

In [22]:
##common dictonaiea methods
keys=student.keys()
print(keys)
values= student.values()
print(values)

items=student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Anish', 33, 'India'])
dict_items([('name', 'Anish'), ('age', 33), ('address', 'India')])

In [29]:
import copy

ld_list= [[1,2,3],[4,5,6],[7,8,9]]
new_list= copy.copy(ld_list)

print("Old list:", ld_list)
print("New list:", new_list)

Old list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
New list: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
## shallow copy

student_copy= student
print(student)
print(student_copy)

{'name': 'Anish', 'age': 33, 'address': 'India'}
{'name': 'Anish', 'age': 33, 'address': 'India'}

In [ ]:
student["name"]= "Anish2"
print(student)
print(student_copy)
## As both the student name gets changed as Anish2 this will create a big problem

{'name': 'Anish2', 'age': 33, 'address': 'India'}
{'name': 'Anish2', 'age': 33, 'address': 'India'}

In [ ]:
student_copy1=student.copy()
print(student_copy1)
print(student_copy)
## This is the shallow copy function as h

{'name': 'Anish2', 'age': 33, 'address': 'India'}
{'name': 'Anish2', 'age': 33, 'address': 'India'}

In [34]:
student["name"]="Anish3"
print(student_copy1)
print(student)

{'name': 'Anish2', 'age': 33, 'address': 'India'}
{'name': 'Anish3', 'age': 33, 'address': 'India'}

In [35]:
### Iterting over dictonaries

## you can use loops to iterate over dictonaries,key,values,items

## Iterating over keys

for keys in student.keys():
    print(keys)

name
age
address

In [36]:
##Iterate over values
for values in student.values():
    print(values
    )

Anish3
33
India

In [37]:
##Iterate over in key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Anish3
age:33
address:India

In [50]:
##Nested dictonaries
## a dic inside another dict
students={
    "student1":{"name":"Anish","age":24},
    "student2":{"name":"Anish2", "age":25}
}
print(students)

{'student1': {'name': 'Anish', 'age': 24}, 'student2': {'name': 'Anish2', 'age': 25}}

In [52]:
## Acccess nested dictonaries
print(students["student2"]["age"])
print(students["student1"]["name"])

25
Anish

t

In [57]:
##  another nested dictonary under key name

students={
    "student1":{
        "name" : {
        "First":"Anish",
        "last":"Srivastav"
        },
        "age":24
    },
    "student2":{
        "name":{
            "first":"Anvi",
            "last": "Seivastav"
        },
        "age":16
    }
}
print(students)

{'student1': {'name': {'First': 'Anish', 'last': 'Srivastav'}, 'age': 24}, 'student2': {'name': {'first': 'Anvi', 'last': 'Seivastav'}, 'age': 16}}

In [62]:
for student_id,student_info in student.items():
    print(f"{student_id}:{student_info}")
    print key,value in student_info.items():
            print(f"{key}:{value}")

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (77990019.py, line 3)

In [67]:
## Dictonary comphrension
squares={x:x**2 for x in range (5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [71]:
## Conditional dictonary elements
evens = {x:x**2 for x in range(20) if x %2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

In [76]:
## Use a dictonnary to count thee frequency of elements in list
numbers=[1,1,1,1,1,2,2,2,2,3,3,3,3,3,4,4,4,4,5,5,5,6,6,7,8,9,7,8,5]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 5, 2: 4, 3: 5, 4: 4, 5: 4, 6: 2, 7: 2, 8: 2, 9: 1}

In [79]:
## merge 2 dictonaries into one
dict1 ={"a":2,"b":4}
dict2= {"b":5 , "c":6}
merge_dict ={**dict1,**dict2}
print(merge_dict)

{'a': 2, 'b': 5, 'c': 6}