In [29]:
list=[]
print(type(list))

<class 'list'>

In [30]:
fruits=["apple","banana","mango","kiwi","grapes","guava"]
print(fruits[0])
print(fruits[-1])
print(fruits[2:5])
print(fruits[-1:])
print(fruits[1:])

apple
guava
['mango', 'kiwi', 'grapes']
['guava']
['banana', 'mango', 'kiwi', 'grapes', 'guava']

In [31]:
## Modifying the list element
fruits

['apple', 'banana', 'mango', 'kiwi', 'grapes', 'guava']

In [32]:
fruits[1]="watermealon"
print(fruits)

['apple', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava']

In [33]:

fruits

['apple', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava']

In [34]:

##
fruits.append("banana")
print(fruits)

['apple', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava', 'banana']

In [35]:
fruits.insert(1,"banana")
print(fruits)

['apple', 'banana', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava', 'banana']

In [36]:
fruits.remove("banana")
print(fruits)

['apple', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava', 'banana']

In [37]:
## remove and return the last item

popped_fruits=fruits.pop()
print(popped_fruits)

banana

In [41]:
index=fruits.index("mango")
print(index)

2

In [42]:
index=fruits.index("kiwi")
print(index)

3

In [43]:
fruits

['apple', 'watermealon', 'mango', 'kiwi', 'grapes', 'guava']

In [44]:
fruits.sort()
print(fruits)

['apple', 'grapes', 'guava', 'kiwi', 'mango', 'watermealon']

In [ ]:
fruits.clear()  ## remove all the item from the list
print(fruits)

[]

In [ ]:
## Slicing list
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[2:5])
print(numbers[5:])
print(numbers[:5])
print(numbers[::2])## this ::2 means from all the index value jump 2
print(numbers[::-1])## here from last one one item is getting jumped in decending order

[3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [49]:
 ## iterating over list--- This mean travelling all the element in the  list once

## it start from the first element , move to the first and continues till the last

for numbers in numbers:
    print(numbers)

1
2
3
4
5
6
7
8
9
10

In [55]:
for index,number in enumerate(numbers):
    print(index,number)

TypeError: 'int' object is not iterable

In [58]:
## lst comphrension
lst=[]
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### List comphrension

Basic sybtax [expression for item in iterable]

with  conditional logic [expression for item in iterable if condition]

Nested list cpmphrension [expression for item in iterable1 for item2 in iterable2]

In [62]:
## basic list comphrension

square=[num**2 for num in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
### list com with condition
lst=[]
for i in range(10):
    if i%2 ==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [68]:
even_numbers= [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [70]:
### nested listb comprehension 
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair= [[i,j] for i in lst1 for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]