In [1]:
    ## cretaing the set
    my_set={1,2,3,4,5}
    print(my_set)
    print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [6]:
empty_set=set([1,2,3,4,5,6])
print(empty_set)

{1, 2, 3, 4, 5, 6}

In [12]:
## basic set operaions
## adding and removing elements

my_set.add(7)
print(my_set)
my_set.add(6)
print(my_set)
my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.remove(10) ## here it will give an error because no element 10 is presenet to correct it

KeyError: 10

In [17]:
my_set.discard(10) ## here it will does not show any error . It removes an element if it is a member mneabs if that particular element  is there then it will be remobed


print(my_set)

{1, 2, 4, 5, 6, 7}

In [19]:
## pop
removed_element=my_set.pop()
print(removed_element)

print(my_set)

2
{4, 5, 6, 7}

In [1]:
##Set membership test

my_set= {1,2,3,4,5}
print(3 in my_set)
print(8 in my_set)

True
False

In [ ]:
## mathematical operation
set1 = {1,2,3,4,5,6}

set2= {4,5,6,7,8,9}

union_set= set1.union(set2)
print(union_set)

interecr_set = set1.intersection(set2)
print(interecr_set)

set1.intersection_update(set2) ## this mean that the common elemen6t from set1 and set2 we get and that all the elements are updated in set1
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [6]:
set1 = {1,2,3,4,5,6}

set2= {4,5,6,7,8,9}

print(set1.difference(set2))

{1, 2, 3}

In [ ]:
set2.difference(set1) ## common elements are being removed

{7, 8, 9}

In [13]:
## sets  method
set1={1,2,3}
set2={3,4,5}

print(set1.issubset(set2))  ##  this means all that element are available in set1 is it also availabelle in set 2

print(set2.issubset(set1))

print(set1.issuperset(set2))

False
False
False

In [14]:
##

lt=[1,2,2,3,4,4,5]

set(lt)

{1, 2, 3, 4, 5}

In [15]:
### COUNTINg unique word in text

text= "In this  tutorial we are discussing about sets"

words=text.split()


## convert list owo word to set to get unique words

unique_words=set(words)
print(unique_words)

print(len(unique_words))

{'about', 'are', 'we', 'tutorial', 'In', 'sets', 'this', 'discussing'}
8