### Sets 

Sets are a built-in data type in Python used to store collection of unique items. They are unordered, meaning that the element do not follow the specific order, and they do not allow the duplicate element. Sets are useful for membership tests, eleminating duplicate entries, and performing mathematical operations like union, intersection, difference and symmertric difference

In [2]:
## create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set= set()
print(type(my_empty_set))

<class 'set'>

In [4]:
my_set= set({1,2,3,4,5,6})
print(my_set)

{1, 2, 3, 4, 5, 6}

In [5]:
my_empty_set= set({1,2,3,4,5,6,5,6})
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [6]:
##  Basics  set operations
## Adding and Removing Elements

my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [7]:
my_set.remove(7)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [8]:
my_set.remove(19)

KeyError: 19

In [9]:
my_set.discard(11)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [10]:
#3 pop methods

removes_element= my_set.pop()
print(removes_element)
print(my_set)

1
{2, 3, 4, 5, 6}

In [11]:
## clear all emenment

my_set.clear()
print(my_set)

set()

In [13]:
## set membership test

## It checks weather that element is present in that set or not

my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [14]:
## Mathematical operations

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Union Operation

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
set3 = {44,87,78,22}
set4 = {65,51,77,99}
union = set3.union(set4)
print(union)

{65, 99, 44, 77, 78, 51, 22, 87}

In [ ]:
## Mathematical operations

set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

### Union Operation

union_set = set1.union(set2)
print(union_set)

## Intersection


Intersection = set1.intersection(set2)
print(Intersection)

set1.intersection_update(set2)
print(set1)
## Intersection_update will update  all the value of operation and will update in set1

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}

## Difference

print(set1.difference(set2))

{1, 2, 3}

In [20]:
set1

{1, 2, 3, 4, 5, 6}

In [21]:
set2.difference(set1)

{7, 8, 9}

In [ ]:
## Symmetric di

### Isme basically interscecion element will be removed and rest will get  printed
print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [25]:
## sets metbod
set1={1,2,3,4,5,}
set2 = {3,4,5}

## is subset


print(set1.issubset(set2))
print(set1.issuperset(set2))

False
True

In [26]:
lt = [1,2,2,3,4,4,5]
set(lt)

{1, 2, 3, 4, 5}

In [30]:
## Counting unique words in text

text = "In this tutorial we are discussing about sets"

words= text.split()
print(words)

## convert list of words to set to get unique words

unique_words= set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'this', 'In', 'tutorial', 'discussing', 'about', 'are', 'sets', 'we'}
8