## Tuples Definition
Tuples are ordered collection of items that are immutable. They  are similar to the list, but their immutiability makes them different.

In [ ]:
### Creating a Tuple
## To createw a tuple just two empty barc kets are used

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl= tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
## add the element in the particular tuple
numbers=tuple([1,2,3,4,5,6,7,8,9,0])
print(numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [5]:
list((1,2.3,4,5,6,7))

[1, 2.3, 4, 5, 6, 7]

In [6]:
mixed_tuple=(1,"Pallavi")
print(mixed_tuple)

(1, 'Pallavi')

In [ ]:
## Accesing tuple elements

numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [8]:
numbers[0]

1

In [9]:
numbers[3]

4

In [10]:
print(numbers[2])
print(numbers[-3])

3
8

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [13]:
numbers[::-1]

(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [17]:
 ### Tuples operations
## conactinatiom,, and slicing



conatinatn_tuple= numbers + mixed_tuple
print(conatinatn_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 'Pallavi')

In [18]:
mixed_tuple *3

(1, 'Pallavi', 1, 'Pallavi', 1, 'Pallavi')

In [19]:
numbers*3

(1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0)

In [21]:
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [23]:
## Immutable nautre of tuples
## Tuples are immutable , meaning their element cannot be changed once they are assigned

lst= [1,2,3,4,5]
print(lst)
lst[1] ="Anish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Anish', 3, 4, 5]

In [25]:
numbers[1] ="Anm"

TypeError: 'tuple' object does not support item assignment

In [29]:
## Tuple methoed

print(numbers.count(1))
print(numbers.index(4))

1
3

In [31]:
## Packing and unpaCKING tuple

packed_tuple= 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [32]:
## Unpacking tupke

a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [33]:
## Unpacking with *

numbers= (1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

In [39]:
## nessted Tuple
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst)

print([lst[0]])
print([lst[0][2]])
print([lst[2][0:3]])

[[1, 2, 3, 4], [6, 7, 8, 9], [1, 'Hello', 3.14, 'c']]
[[1, 2, 3, 4]]
[3]
[[1, 'Hello', 3.14]]

In [ ]:
nested_tuple=((1,2,3),("a","b","d"),(True,False))

##accesss the element inside the tuple

print(nested_tuple[0])

print(nested_tuple[2])

print(nested_tuple[1][2])

(1, 2, 3)
(True, False)
d

In [44]:
## iterating over the nested tuple

for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
        print()

1
2
3
a
b
d
True
False