### Tuples
 Tuples are ordered collection of items that are immutable. They are similar to list, but their immutiability makes them immutable

In [1]:
## Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst =list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
number= tuple([1,2,3,4,5,6])
print(number)

(1, 2, 3, 4, 5, 6)

In [8]:
list((1,2,3,4,5,6))

TypeError: 'tuple' object is not callable

In [10]:
mixed=(1,"Anish",3.14,True)
print(mixed)

(1, 'Anish', 3.14, True)

In [11]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [12]:
## Create tuple with one item
## to create tuple with one item  you have to put comma acter the one tuple otherwse the python will not recognize this

thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [16]:
## Accessing tuples elements

number

(1, 2, 3, 4, 5, 6)

In [17]:
number[2]

3

In [21]:
number[0:4]
number[::-1]

(6, 5, 4, 3, 2, 1)

In [24]:
## Tuple opertion

concact =number + mixed

print(concact)

(1, 2, 3, 4, 5, 6, 1, 'Anish', 3.14, True)

In [25]:
mixed * 3

(1, 'Anish', 3.14, True, 1, 'Anish', 3.14, True, 1, 'Anish', 3.14, True)

In [26]:
number *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [34]:
## chect of operation is present
number

if 5 in number:
    print("Yes, 5 is an integer")

Yes, 5 is an integer

In [36]:
## Immutabke nature of tple
## As tuples are immuable , this means value cannot be changed once they are assigned


lst =[1,2,3,4]
print(lst)

lst[1]="Anish"
print(lst)

[1, 2, 3, 4]
[1, 'Anish', 3, 4]

In [39]:
number
number[1]="Anish"

TypeError: 'tuple' object does not support item assignment

In [46]:
## Tuple method
print(number.count(1))
print(number.count(2)
)
print(number.count(3))

print(number.index(3)) ## it tells at which i dex the element 2 is present

1
1
1
2

In [48]:
## change tuples values eh

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'tuple' object is not callable

In [ ]:
## Packing and unpacking tuple
##packing
packed_tuple= 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [56]:
## unpacking a tuple

a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [57]:
## unpacking with *

number =(1,2,3,4,5,6)
first,*middle,last = number
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [64]:
## Nested tuple
lst= [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,True]]  ##nested list
lst[0][3]
lst[2][0:3]

[1, 'Hello', 3.14]

In [65]:
lst= [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,True)]  ##nested list
lst[0][3]
lst[2][0:3]

(1, 'Hello', 3.14)

In [68]:
##nested tuple
nest_tuple=((1,2,3),("a","b","c"),(True, False))

## access the elements inside a tuple
print(nest_tuple[0])
print(nest_tuple[1][2])

(1, 2, 3)
c

In [71]:
## Iterating under nested tuples

for sub_tuple in nest_tuple:
    for item in sub_tuple:
        print(item , end =" ")
    print()

1 2 3
a b c
True False